.footer{
    background-color: $bg-blue-dark;
    padding-top: 70px;
    color: white;
    &__top{
        text-align: center;
        h2{
            font-size: 4rem;
            font-family: $second-font;
            text-transform: uppercase;
        }
        h3{
            font-size: 2rem;
            font-weight: 400;
            text-transform: uppercase;
        }
    }
    &__item{
        font-size: 1.6rem;
        font-weight: 300;
        text-transform: capitalize;
        margin-bottom: 30px;

        img{
            width: 18px;
            height: 20px;
            object-fit: scale-down;
            margin-right: 16px;
        }
    }
    &__logo{
        width: 150px;
        height: 80px;
        margin-bottom: 44px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__left{
        h4{
            font-size: 1.8rem;
            font-weight: 600;
            margin-bottom: 30px;
        }
    }

    &__item{
        display: flex;
        color: $text-gray;
    }
    span{
        &::before{
            content: "";
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 58px;
            height: 100%;
            background-image: url("/assets/images/send.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-color: $bg-box-aside;
        }
    }
    &__email{
        width: 320px;
        height: 45px;
        display: flex;
        &__input[type="text"]{
            background-color: $bg-input-blue-dark;
            font-size: 1.6rem;
            font-style: italic;
            font-weight: 300;
            border: none;
            outline: none;
            height: 100%;
            width: 265px;
            color: $text-white;
            padding-left: 18px;
            position: relative;
            &::placeholder{
                color: white;
                font-size: 1.6rem;
                font-weight: 300;
            }
        }
        &__submit[type="image"]{
            width: auto;
            height: 100%;
            padding: 10px;
            cursor: pointer;
            background-color: $bg-box-aside;
            img{
                width: 16px;
            }
        }
        
    }

    &__main{
        display: flex;
    }

    &__left,&__right{
        flex: 1;
    }

    &__form{
        &__merge{
            width: 100%;
            display: flex;
            gap: 16px;
            input{
                flex: 1;
            }
        }
        input,textarea{
            width: 100%;
            background-color: transparent;
            border: none;
            outline: none;
            font-size: 1.4rem;
            font-weight: 300;
            color: #d5d5d8;
            border-bottom: 0.5px solid #777;
            margin-bottom: 36px;
            padding: 6px 12px;
            &::placeholder{
                color: white;
            }
        }
        textarea{
            margin-bottom: 14px;
            border: 1px solid #777;
        }
    }

    &__right{
        input[type="submit"]{
            width: 100%;
            background-color: $bg-box-aside;
            text-transform: uppercase;
            padding: 14px 0;
            color: $text-white;
            font-size: 1.4rem;
            font-weight: 600;
            border: none;
            outline: none;
            border: 1px solid white;
            transition: 0.25s;
            &:hover{
                color: $text-red;
                background-color: white;
                border-color: $text-red;
            }
        }
    }

    &__center{
        padding-bottom: 70px;
    }

    &__bottom{
        &__wrapper{
            display: flex;
            justify-content: space-between;
        }
        padding: 24px 0;
        color: $text-gray;
        background-color: $bg-input-blue-dark;
        border-top: 1px solid #777;
        display: flex;
        justify-content: space-between;
        &__left{
            img{
                display: inline;
                width: 16px;
                height: 16px;
                margin-left: 16px;
                &:first-child{
                    margin-left: 26px;
                }
            }
        }
    }

    &__contact{
        text-transform: lowercase;
    }
}

@media screen and (max-width: 991px) {
    .footer{
        &__item{
            font-size: 1.4rem;
        }
    }
}

@media screen and (max-width: 800px) {
    .footer{
        &__main{
            flex-direction: column-reverse;
            gap: 40px;
        }

        &__email{
            margin: 0 auto;
        }

        &__center{
            padding-bottom: 30px;
        }
        &__bottom{
            &__wrapper{
                flex-direction: column;
                justify-content: center;
                gap: 20px;
            }
        }
    }
}