.recruiment{
    padding-top: 70px;
    padding-bottom: 40px;
    background-image: url("/assets/images/tuyendung-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    &__wrapper{
        display: flex;
    }

    &__left{
        &__line{
            width: 183px;
            height: 12px;
            margin-bottom: 30px;
            margin-right: 13px;
            background-color: $bg-box-aside;
            &:first-child{
                height: 390px;
                background-color:$bg-box-aside;
                color: $text-white;
                writing-mode:vertical-rl;
                margin-bottom: 38px;
                h3{
                    font-size: 4.6rem;
                    font-weight: 400;
                    transform: rotate(180deg);
                    text-transform: uppercase;
                    text-align: center;
                    text-transform: uppercase;
                    padding-left: 26px;
                    padding-bottom: 36px;
                    font-family: "UTM Alter Gothic",sans-serif;
                }
            }
        }
    }

    &__top{
        display: flex;
        align-items: center;
        padding: 14px 0;
        color: $text-white;
        text-transform: uppercase;
        &__left{
            font-size: 1.6rem;
            font-weight: 600;
            margin-left: 42px;
            select{
                width: 260px;
                height: 34px;
                margin-left: 15px;
                background-color: transparent;
                color: white;
                border-color: white;
            }
        }

        &__right{
            margin-left: auto;
            h2{
                font-size: 4rem;
                font-family: $second-font;
                color: $text-red;
            }
        }
    }

    &__bottom{
        padding: 58px 0 24px;
        background-color: white;
        &__bottom{
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-top: 50px;
            h4{
                font-size: 1.6rem;
                font-weight: 600;
                text-transform: uppercase;
                color: $text-red;
            }
            p{
                text-align: center;
                font-weight: 400;
            }
        }
        &__subbottom{
            display: flex;
            margin-top: 30px;
            p{
                font-size: 1.6rem;
                font-weight: 300;
                text-align: left;
                span{
                    font-weight: 600;
                }
            }
        }
    }

    &__items{
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        &::before{
            content: "";
            width: 0.5px;
            height: 100%;
            background-color: #e1e1e1;
            position: absolute;
            left: 50%;
            top: 0;
            bottom: 0;
            transform: translateX(-50%);
        }
    }

    &__item{
        padding: 0 40px 56px;
        font-size: 1.6rem;
        font-weight: 400;
    }

    &__button{
        text-transform: uppercase;
        display: inline-flex;
        padding: 15px;
        border: 1px solid $bg-box-aside;
        color: $text-black;
        border-radius: 4px;
        margin-right: 74px;
        img{
            width: 18px;
            margin-left: 16px;
        }
    }
}

@media screen and (max-width: 1199px) {
    .recruiment{
        &__button{
            margin-right: 10px;
        }
    }
}

@media screen and (max-width: 991px) {
    .recruiment{
        &__left{
            min-width: unset !important;
            margin: 0;
            &__line{
                width: 64px;
                &:first-child{
                    h3{
                        padding-left: 0;
                    }
                }
            }
        }
        &__top{
            flex-direction: column-reverse;
            align-items: unset;
        }
    }
}

@media screen and (max-width: 858px) {
    .recruiment{
        &__wrapper{
            flex-direction: column;
        }
        &__left__line{
            display: none;
            &:first-child{
                display: flex;
                height: auto;
                width: 100%;
                justify-content: center;
                writing-mode: unset;
                background-color: unset;
                margin-bottom: 0;
                h3{
                    transform: none;
                    padding-bottom: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 596px) {
    .recruiment{
        &__bottom{
            &__subbottom{
                flex-direction: column;
            }
        }
        &__button{
            justify-content: center;
            margin-bottom: 20px;
        }
        &__items{
            grid-template-columns: 1fr;
            margin-bottom: 0;
            &::before{
                display: none;
            }
        }
    }
}